.footer {
  background-color: #000;
  padding: 47px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
}

.footer__list a {
  display: inline-block;
  &:focus {
    @include focus;
  }
}

.footer__list a {
  transition: opacity .2s ease-in;
}

.footer__list a:hover {
  opacity: .6;
}

.footer__list li:not(:last-child) {
  margin-right: 18px;
}